extends /layouts/html

block append head
  !=js("jobs", {defer: true})
  !=css("jobs")

block body

  div.jobs-container
    h1 Вакансии
    br
    br
    a(href='/jobs/new/') Разместить вакансию
    br
    br
    ul
      each job in jobsList
        li
          h5= job.title
          p= job.description
          a(href='/jobs/'+job._id+'/') Подробнее
          hr
    br
    br
    if (totalPages > 1)
      div.pagination
        if (currentPage > 1)
          a(href="?p=#{currentPage - 1}") «
        - for(var i = 0; i < totalPages; ++i)
          if (currentPage == (i + 1))
            a.active(href="#") #{i + 1}
          else
            a(href="?p=#{i + 1}") #{i + 1}
        if (currentPage < totalPages)
          a(href="?p=#{currentPage + 1}") »
