//- content with breadcrumb and comments
extends ./body

block main
  if breadcrumbs || title
    header(class="main__header" + (layout_header_class ? ' ' + layout_header_class : ''))
      if breadcrumbs
        +b("ol").breadcrumbs
          include ../blocks/breadcrumbs

      block over-title

      if title
        - var parts = title.split('\n');
        h1.main__header-title
          //- nl2br for title
          each part, i in parts
            = part
            if i !== (parts.length - 1)
              br


  +b(class=["content", content_class])
    block content

  if prev || next
    .page__nav-wrap
      if prev
        a.page__nav.page__nav_prev(href=prev.url, data-tooltip=prev.title)
          span.page__nav-text
            span.page__nav-text-shortcut
          //- for mobile / narrow screens (on bottom)
          span.page__nav-text-alternate= t('tutorial.article.lesson.prev')
      if next
        a.page__nav.page__nav_next(href=next.url, data-tooltip=next.title)
          span.page__nav-text
            span.page__nav-text-shortcut
          span.page__nav-text-alternate= t('tutorial.article.lesson.next')


