extends /layouts/main

block append variables
  - var layout_main_class = "main_width-limit"

block sidebar
  include sidebar

block sidebar-buttons
  +b("a").map(href="/tutorial/map", data-action="tutorial-map", data-tooltip="Карта учебника")

block append head
  meta(property="og:title", content=title || headTitle)
  meta(property="og:type", content="article")
  !=js("tutorial", {defer: true})

block content
  article(itemscope itemtype="http://schema.org/TechArticle")
    meta(itemprop="name", content=title)
    div(itemprop="author", itemscope, itemtype="http://schema.org/Person")
      meta(itemprop="email", content="iliakan@gmail.com")
      meta(itemprop="name" content="Ilya Kantor")
    div(itemprop="articleBody")
      != content


  if tasks.length

    +b.tasks
      +e('h2').title#tasks
        +e('a').title-anchor.main__anchor.main__anchor_noicon(href="#tasks")= t('tutorial.article.tasks')

      each task, i in tasks
        +b.task.__task
          +e.header
            +e.title-wrap
              +e('h3').title
                a.main__anchor(href=("#"+task.anchor) name=task.anchor)= task.title
              +e('a').open-link(href=task.url, target="_blank")

            +e.header-note
              if task.importance
                +e('span').importance(title=t("tutorial.task.importance_help")) #{t('tutorial.task.importance')}: #{task.importance}
              +e('button').solution(type="button")= t('tutorial.task.solution')

            include _task_content



