extends /layouts/main

block append variables
  - var layout_main_class = "main_width-limit-wide"
  - var comments = true
  - var layout_header_class = "main__header_center"

block append head
  !=js("tutorial", {defer: true})

block content
  +b.intro
    | Перед вами учебник по JavaScript, начиная с основ, включающий в себя много
    | тонкостей и фишек JavaScript/DOM.
  +b.course-search
    +e('form').form(action="/search/")
      +e.input-wrap._text
        +b.text-input.__query
          +e('input').control(type="text" name="query" placeholder="Искать в учебнике" required)
      +e.input-wrap._submit
        +b("button").button._action(type="submit" name="type" value="articles")
          +e("span").text Найти
  +b.course-info
    +e.header
      +e('h2').header-title Основной курс
      include /blocks/map-with-title

    +e.body.columns.columns_2
      +e.col.columns__col
        +e.content
          +e.title-note Часть первая
          +e('h3').title= chapters[0].title
          != chapters[0].content
          +b('ul').special-links-list
            - each folder in chapters[0].children
              +e('li').item
                +e('a').link(href=folder.url)= folder.title

      +e.col.columns__col
        +e.content
          +e.title-note Часть вторая
          +e('h3').title= chapters[1].title
          != chapters[1].content
          +b('ul').special-links-list
            - each folder in chapters[1].children
              +e('li').item
                +e('a').link(href=folder.url)= folder.title

  +b.course-bricks
    //- отдельные полноценные книги, в каждой свой progress
    +e('h2').title Дополнительно
    +e('p') Тематические разделы
    +e.container
      - var i = 1
      while ++i < chapters.length
        - var chapter = chapters[i]
        +e.brick
          +e('h3').brick-title
            +e('a').brick-title-link.main__anchor(href=chapter.url) !{ chapter.title }
          +e.brick-content!= chapter.content
          +e('ul').chapters-list
            each child in chapter.children
              +e('li').item
                +e('a').link(href=child.url)= child.title

  script(type="application/ld+json")
    | {
    |   "@context": "http://schema.org",
    |   "@type": "WebSite",
    |   "url": "https://#{domain.main}/",
    |   "potentialAction": {
    |     "@type": "SearchAction",
    |     "target": "https://#{domain.main}/search?query={search_term_string}",
    |     "query-input": "required name=search_term_string"
    |   }
    | }

