mixin main-en-contents(data)
  +b.main-en-contents
    each part, index in chapters
      +e.container
        +e.inner
          +e.part PART #{index + 1}
          +e.title=part.title
          +e.description!=part.content
          +b.list
            each topic in part.children
              +e.item
                +e.title
                  +e('a').link(href=topic.url)
                    | #{topic.title}
                +b('ul').list-sub
                  each subtopic, i in topic.children
                    +e('li').item(class= (i > 5) ? '_phone_hidden' : '')
                      +e.title
                        +e('a').link(href=subtopic.url) #{subtopic.title}
                  if (topic.children.length > 6)
                    +e('li').more More…
