each crumb, i in breadcrumbs
  - var isLast = (i == breadcrumbs.length-1);
  - var isFirst = (i == 1);
  if i == 0
    +e("li").item._home(itemscope, itemtype="http://data-vocabulary.org/Breadcrumb" itemref="breadcrumb-1")
      +e("a").link(href=crumb.url itemprop="url")
        +e('span')(itemprop="title").hidden-text!= crumb.title
  else
    +e("li")(
      id="breadcrumb-#{i}",
      itemscope,
      itemtype="http://data-vocabulary.org/Breadcrumb",
      itemref=isLast ? undefined : "breadcrumb-#{i+1}"
      itemprop="child"
    ).item
      +e("a").link(href=crumb.url itemprop="url")
        +e('span')(itemprop="title")!= crumb.title
