+b.comments(id="comments")
  +e.header
    +e("h2").header-title
      a(href="#comments" name="comments")= t('site.comments')
    +e.read-before
      +e("span").read-before-link= t('site.read_before_commenting')
      +e.read-before-popup
        +e.read-before-popup-i
          ul
            each comment in t('site.comment.help')
              li!= comment


#disqus_thread

//- disqus_url gets correct host only in production
if env.NODE_ENV == 'production'
  script var disqus_shortname = !{escapeJSON(disqusDomain)};
  script var disqus_identifier = !{escapeJSON(canonicalPath)};
  script var disqus_title = !{escapeJSON(headTitle || title)};
  script var disqus_url = !{escapeJSON(canonicalUrl)};

  script(async src='//' + disqusDomain + '.disqus.com/embed.js')
  script(async src='//' + disqusDomain + '.disqus.com/count.js')
