+b(class = ['sitetoolbar-light', bookChildNumber ? '_tutorial' : ''])
  +e.content
      +e.nav-toggle-wrap
        +e('button').nav-toggle(onclick="document.querySelector('.sitetoolbar-light').classList.toggle('sitetoolbar-light_menu_open')" type="button")

      +e.logo-wrap
        +e('a').link._logo(href="/")

          +e('img').logo._normal(src="/img/" + t("site.toolbar.logo.svg"), width=t("site.toolbar.logo.width"))
          +e('img').logo._small(src="/img/sitetoolbar__logo_small.svg")
          script
            :uglify
              (function() {

                /* chrome renders embed.svg with a delay,
                 this loads embed later to prevent flickering */
                Array.prototype.forEach
                  .call(
                    document.querySelectorAll('img.sitetoolbar__logo'),
                    function(logo) {
                      var embed = document.createElement('object');
                      embed.type='image/svg+xml';

                      embed.className = logo.className;
                      embed.style.cssText = 'left:0;top:0;position:absolute';

                      embed.onload = function() {
                        embed.onload = null;
                        logo.style.visibility = 'hidden';
                      };
                      embed.data = logo.src;
                      logo.parentNode.insertBefore(embed, logo);
                    });
              })();

  +b.tablet-menu

    +e.line
      +e.content
        include /blocks/map-with-title

  if bookChildNumber && bookLeafCount
    +b('progress').tutorial-progress(
      data-sticky,
      value=bookChildNumber,
      max=bookLeafCount,
      data-tooltip=(t("tutorial.article.lesson_of", {bookChildNumber, bookLeafCount}))
    )
