block append variables
  - var siteToolbarSections = []
  - siteToolbarSections.push({ slug: 'tutorial', title: 'Учебник' });
  - siteToolbarSections.push({ slug: 'courses', url: '/courses', title: 'Курсы' });
  - siteToolbarSections.push({ url: 'http://javascript.ru/forum', title: 'Форум' });
  - siteToolbarSections.push({ url: 'http://es5.javascript.ru', title: 'ES5' });
  - siteToolbarSections.push({ url: 'http://javascript.ru/manual', title: 'Справочник' });

<!--[if lt IE 10]>
div(style="color:red;text-align:center")= t("site.sorry_old_browser")
<![endif]-->

if lang=='ru'
  +b(class = 'sitetoolbar' + (bookChildNumber ? '_tutorial' : ''))
    //include ./notification-stripe

    +e.content
      +e.logo-wrap
        +e('a').link._logo(href="/")

          +e('img').logo._normal(src="/img/" + t("site.toolbar.logo.svg"), width=t("site.toolbar.logo.width"))
          +e('img').logo._small(src="/img/sitetoolbar__logo_small.svg")
          script
            :uglify
              (function() {

                /* chrome renders embed.svg with a delay,
                 this loads embed later to prevent flickering */
                Array.prototype.forEach
                  .call(
                    document.querySelectorAll('img.sitetoolbar__logo'),
                    function(logo) {
                      var embed = document.createElement('object');
                      embed.type='image/svg+xml';

                      embed.className = logo.className;
                      embed.style.cssText = 'left:0;top:0;position:absolute';

                      embed.onload = function() {
                        embed.onload = null;
                        logo.style.visibility = 'hidden';
                      };
                      embed.data = logo.src;
                      logo.parentNode.insertBefore(embed, logo);
                    });
              })();
      +e.nav-toggle-wrap
        +e('button').nav-toggle(onclick="document.querySelector('.sitetoolbar').classList.toggle('sitetoolbar_menu_open')" type="button")

      +e('nav').sections
        +e('ul').sections-list
          each section in siteToolbarSections
            +e('li')(class=["section", section.slug && siteToolbarCurrentSection == section.slug && '_current' || undefined])
              +e('a').link(href=section.url ? section.url : ('/' + section.slug))= section.title

          +e('li')(class=["section", "_dropdown", siteToolbarCurrentSection && siteToolbarCurrentSection.startsWith('screencast') ? '_current' : undefined])
            //- делаем пользователя кнопкой, так как она только раскрывает меню
            //- и никуда не ведет. Если предполагается функциональность ссылки
            //- потребуются минимальные доработки
            +e('button').dropdown-button(data-dropdown-toggler)
              | Скринкасты
            +e.dropdown-wrap
              +e.dropdown-body
                +e('ul').dropdown-items
                  +e('li').dropdown-item
                    +e('a').secondary-link.__dropdown-link(href='/screencast/nodejs') Node.JS
                  +e('li').dropdown-item
                    +e('a').secondary-link.__dropdown-link(href="/screencast/webpack") Webpack
                  +e('li').dropdown-item
                    +e('a').secondary-link.__dropdown-link(href="/screencast/gulp") Gulp 4

      include ./guest

    // todo: en variant
    +b.tablet-menu
      +e.line
        +e.content
          +e('select')(onchange="if(this.value) window.location.href=this.value").nav.input-select.input-select_small
            - var inSection = siteToolbarSections.filter(function(section) { return siteToolbarCurrentSection == section.slug; }).length;
            if !inSection
              +e('option')(selected) Выберите раздел
            each section in siteToolbarSections
              +e('option')(
                value=(section.slug ? ('/' + section.slug) : section.url)
                selected = (section.slug && siteToolbarCurrentSection == section.slug)
              )= section.title
            +e('option')(value='/screencast/gulp' selected=(siteToolbarCurrentSection == 'screencast-gulp')) Скринкаст по Gulp
            +e('option')(value='/screencast/webpack' selected=(siteToolbarCurrentSection == 'screencast-webpack')) Скринкаст по Webpack
            +e('option')(value='/screencast/nodejs' selected=(siteToolbarCurrentSection == 'screencast-nodejs')) Скринкаст по Node.JS

      +e.line
        +e.content
          include /blocks/map-with-title

      +e.line
        +e.content
          +b.share-icons
            +e('span').title= t('site.share')
            include ../blocks/social-icons

    if bookChildNumber && bookLeafCount
      +b('progress').tutorial-progress(data-sticky, value=bookChildNumber, max= bookLeafCount, data-tooltip=("Урок " + bookChildNumber + " из " + bookLeafCount))
else

  include ./sitetoolbar-light
